<%-
  include('../common/_head', {
    page: json['work']
  });
%>
<!-- ここからコンテンツ -->

<div id="container">
  <div id="main">
    <div class="main-inner">
      <article class="l-container">
        <h2 class="single-ttl main-font">Work</h2>
        <div class="work-box">

          <!-- ポートフォリオ１ -->
          <a href="/fruitsshop/" target="_blank">
            <div class="portfolio_lineup ll-out-shadow">
              <img src="/images/portfolio/fruitsshop.png" alt="fruitsshop">
              <div class="portfolio_lineup-ttl">
                <p class="top-text">fruitsshop</p>
                <p class="bottom-text">2020/12/25</p>
              </div>
            
            </div>
          </a>
          <!-- ポートフォリオ2 -->
          <a href="#">
            <div class="portfolio_lineup ll-out-shadow">
              <img src="/images/portfolio/Poaner.png" alt="Poaner">
              <div class="portfolio_lineup-ttl">
                <p class="top-text">Poaner</p>
                <p class="bottom-text">2020/05/20</p>
              </div>
            </div>
          </a>
          <!-- ポートフォリオ3 -->
          <a href="#">
            <div class="portfolio_lineup ll-out-shadow">
              <img src="/images/portfolio/Poaner.png" alt="Poaner">
              <div class="portfolio_lineup-ttl">
                <p class="top-text">Poaner</p>
                <p class="bottom-text">2020/05/20</p>
              </div>
            </div>
          </a>
          <!-- ポートフォリオ4 -->
          <a href="#">
            <div class="portfolio_lineup ll-out-shadow">
              <img src="/images/portfolio/Poaner.png" alt="Poaner">
              <div class="portfolio_lineup-ttl">
                <p class="top-text">Poaner</p>
                <p class="bottom-text">2020/05/20</p>
              </div>
            </div>
          </a>
          <!-- ポートフォリオ5 -->
          <a href="#">
            <div class="portfolio_lineup ll-out-shadow">
              <img src="/images/portfolio/Poaner.png" alt="Poaner">
              <div class="portfolio_lineup-ttl">
                <p class="top-text">Poaner</p>
                <p class="bottom-text">2020/05/20</p>
              </div>
            </div>
          </a>
          <!-- ポートフォリオ6 -->
          <a href="#">
            <div class="portfolio_lineup ll-out-shadow">
              <img src="/images/portfolio/Poaner.png" alt="Poaner">
              <div class="portfolio_lineup-ttl">
                <p class="top-text">Poaner</p>
                <p class="bottom-text">2020/05/20</p>
              </div>
            </div>
          </a>
          <!-- ポートフォリオ7 -->
          <a href="#">
            <div class="portfolio_lineup ll-out-shadow">
              <img src="/images/portfolio/Poaner.png" alt="Poaner">
              <div class="portfolio_lineup-ttl">
                <p class="top-text">Poaner</p>
                <p class="bottom-text">2020/05/20</p>
              </div>
            </div>
          </a>
          <!-- ポートフォリオ8 -->
          <a href="#">
            <div class="portfolio_lineup ll-out-shadow">
              <img src="/images/portfolio/Poaner.png" alt="Poaner">
              <div class="portfolio_lineup-ttl">
                <p class="top-text">Poaner</p>
                <p class="bottom-text">2020/05/20</p>
              </div>
            </div>
          </a>
        </div>
      </article>
    </div>
    <!-- Profile -->
  </div>
</div>

<!-- ここまでコンテンツ -->
<% include ../common/_footer %>