.footer-nav {
    padding: 5px 0;
    .icon {
        padding: 0 5px;
    }
    a {
        padding: 0 5px;
    }
}

.tagline {
    @include min-screen($break_point_pc) {
        font-size: $footer_title;
    }
}