

<footer id="footer" class="l-footer">
  <div class="footer-flex l-container main-inner">

    <div class="footer-logo__block">
      <div class="footer-logo">
        <img src="images/logo/logo01.png" alt="サンプルパン屋">
      </div>
    </div>
    <div class="footer-navblock">
      <ul class="footer-nav">
        <li>
          <a href="#" class="link">
            <span class="en">CONCEPT</span><br>
            <span class="jp">こだわり</span>
          </a>
        </li>
        <li>
          <a href="#" class="link">
            <span class="en">MENU</span><br>
            <span class="jp">メニュー</span>
          </a>
        </li>
        <li>
          <a href="#" class="link">
            <span class="en">BLOG</span><br>
            <span class="jp">ブログ</span>
          </a>
        </li>
        <li>
          <a href="#" class="link">
            <span class="en">SHOP INFO</span><br>
            <span class="jp">店舗情報</span>
          </a>
        </li>
        <li>
          <a href="#" class="link">
            <span class="en">ONLINE SHOP</span><br>
            <span class="jp">オンラインショップ</span>
          </a>
        </li>
      </ul>
    </div>

  </div>
  <div class="footer-copy">
    <small>Copyright © SAMPLE-BAKERY</small>
  </div>
</footer><!-- / l-wrapper -->

<!-- 絶対消さないで！！！↓ -->
<script src="//code.jquery.com/jquery-2.2.2.min.js"></script>
<script src="js/script.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
  integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
</body>
</html>