

<footer id="footer" class="l-footer">
  <div class="l-container">
    <div class="footer-logo__block">
      <div class="footer-logo">
        <p class="tagline">SAMPLE-BAKERY</p>
      </div>
      
    </div>

    <div class="footer-navblock">
      <ul class="footer-nav">

        <img src="/images/icon/facebook.svg" class="icon" alt="フェイスブック"><a href="#">Facebook</a>/<a href="#"><img src="/images/icon/instagram.svg" class="icon" alt="インスタグラム">Instagram</a>/<a href="#"><img src="/images/icon/twitter.svg" class="icon" alt="ツイッター">Twitter</a>
      </ul>

      <div class="footer-copy">
        <small>Copyright © SAMPLE-BAKERY</small>
      </div>

    </div>
  </div>

</footer><!-- / l-wrapper -->

<!-- 絶対消さないで！！！↓ -->
<script src="//code.jquery.com/jquery-2.2.2.min.js"></script>
<script src="/js/script.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
  integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
</body>
</html>