<!-- Slider main container/ -->
<div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide img-size">
            <a href="/blog/#blog-4/">
                <img src="/images/blog/2020/1126/20201126.jpg" alt="家族写真">
                <!-- <p class="lg-ttl">wihtコロナで七五三</p> -->
                <p class="sm-ttl">2020.11.25</p>
            </a>
        </div>
        <div class="swiper-slide img-size">
            <a href="/blog/#blog-3/">
                <img src="/images/blog/2020/0726/20200726_kinegawaonsen14.jpg" alt="温泉旅行">
                <!-- <p class="lg-ttl">GoToトラベルで「鬼怒川温泉」へ行ってきました！</p> -->
                <p class="sm-ttl">2020.7.25</p>
            </a>
        </div>
        <div class="swiper-slide img-size">
            <a href="/blog/#blog-2/">
                <img src="/images/blog/2020/0717/20200717.jpg" alt="レオパ">
                <!-- <p class="lg-ttl">はじめてのヒョウモントカゲモドキ</p> -->
                <p class="sm-ttl">2020.7.19</p>
            </a>
        </div>
 
    </div>
    <!-- If we need pagination  -->
    <div class="swiper-pagination"></div>

    <!-- 戻るボタン＋次ボタン -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <!-- <div class="swiper-scrollbar"></div> -->
</div>