<%-
  include('../common/_head', {
    page: json['about']
  });
%>
<!-- ここからコンテンツ -->
<div id="container">
  <div id="main">
    <div class="main-inner">
      <section class="l-container">
        <h2 class="single-ttl main-font">About</h2>
        <p class="single-ttl-text">2013年3月大学卒業。<br>7年間印刷会社にて勤務。<br>2020年2月テックキャンプで学習開始。<br>2020年9月より東京都内のweb制作会社でデザイン・コーディングの業務</p>
        <div class="about-box">
          <img src="/images/about/IMG_1578_350.jpg" class="about-box_img" alt="前田龍汰">
          <div class="about-box_content">
            <dl class="dl-table">
              <dt>名前</dt>
              <dd>前田龍汰</dd>
              <dt>生年月日</dt>
              <dd>1991年2月 (29歳)</dd>
              <dt>所在地 / 出身地</dt>
              <dd>埼玉県狭山市</dd>
              <dt>趣味</dt>
              <dd>テニス / NBA観賞</dd>
              <dt>事業内容</dt>
              <dd>HTML・CSSコーディング/WEB制作</dd>
              <dt>メールアドレス</dt>
              <dd>123@gmail.com<br>お問い合わせは上記のE-mailからお願いします。</dd>
            </dl>
          </div>
        </div>
      </section>
    </div>
    <!-- Profile -->
  </div>
</div>

<!-- ここまでコンテンツ -->
<% include ../common/_footer %>