
<%-
  include('../common/_head', {
    page: json['work']
  });
%>


<div id="container">
  <div id="main">
    <div class="main-inner">
      <section class="l-content l-in-shadow">
        <h2 class="thanks-font">お問い合わせ<br>ありがとうございました。</h2>

        <div id="contact" class="l-contact">
          <div class="form__block">
            <div class="thanks">
              <div class="u-ta-c">
                <div class="thanks__text u-mt-20 u-mb-20">
                    <p>内容を確認次第、ご連絡させていただきます。</p>
                    <p>尚、お客さまからいただいたEメールアドレスが違っていたり、<br class="pc-br">システム障害などによりお返事できない場合がございます。<br class="pc-br"><br class="sp-br"><span class="mg-b">返答のない場合は、SNSでその旨お問い合わせください。</span></p>
                </div>
                <a href="/">TOPページへ</a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>


<% include ../common/_footer %>




